.verde {
    color: #5D7D46;
}
.verde_bg {
    background-color: #5D7D46;
}
.verde_escuro {
    color: #004D40;
}

.verde_escuro_bg {
    background-color: #004D40;
}
.verde_claro {
    color: #004D40;
}

.verde_claro_bg {
    background-color: #004D40;
}
.corpo {





}

.cabecalho {
    height: 10vh;
    background-image: url('../Imagens/img_cp/header_bg_melhor.png');
    background-repeat: repeat-x;       /* repete na horizontal */
    background-size: auto 100%;        /* altura 100%, largura automática */
    background-position: center;


}

footer {

    height: 10vh;


}

